body {
    padding: 10%;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif
}

/* input, button {
    font: inherit;
} */


p {
    font-weight: 500;
    text-transform: capitalize;
    text-align: left;
    text-indent: 2em;
    line-height: 1.5;
    letter-spacing: 0.1rem;
    word-spacing: 0.1rem;
}







